li {
	display: inline;
	padding-right: 20px;
}

body {
	font-family: arial,sans-serif;
	color: #666;
}

.center {
	display: block;
	text-align: -webkit-center;
}

.content {
	display: block;
	margin: auto;
	padding-top: 200px;
}

.search_area form {
	padding-top: 2%;
	display:flex;
	justify-content:center;
	align-items:center;


}

button {
    box-sizing: border-box;
    -webkit-appearance: push-button;
     white-space: pre;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
}

input {
	width: 503px;
	height: 34px;
	-webkit-appearance: textfield;
}

.search_area p

{
	padding-top: 10px;
	display:flex;
	justify-content:center;
	align-items:center;


}

footer {
	border-top: 1px solid #e4e4e4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;

}

a:visited {
	color: #666;
}

.country_info {
	border-bottom: 1px solid #e4e4e4;
}

.country_info p {
	padding: 15px 20px;
}

.bottom_menu {
	display: block;
	padding: 15px 20px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
}

.right {
	float: right;
}

.menu li {
	margin-top: 15px;
}